<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @test1.Name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @test1.Age %>
</p>

<%= link_to 'Edit', edit_test1_path(@test1) %> |
<%= link_to 'Back', test1s_path %>
